@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Roboto', sans-serif;
}


.black50 {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}
